<style>
    input:focus {
        background-color: lavender;
        cursor: text;
    }
</style>

<div class="login-box" style="box-shadow: 10px 10px 5px grey; border: 1px solid grey;background-color:white;">
    <div class="login-logo" style="background-color:white;">
        <!--<a href="../../index2.html"><b>Admin</b>LTE</a>-->
        <br/>
        <b>CreativeLAB</b>
        <br/> Job Requisition
        <hr/>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>


        <div ng-hide="ctrl.isDev">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Username" ng-model="ctrl.eMail">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" ng-model="ctrl.passWord">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
        </div>
        <div ng-show="ctrl.isDev">
            <div class="form-group has-feedback">
                <select class="form-control" placeholder="Email" ng-model="ctrl.userName">
                    <option ng-repeat="option in ctrl.userList" value="{{option.id}}">{{option.name}}</option>                      
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <!--
                    <div class="checkbox icheck">
                        <label class="">
                        <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Remember Me
                        </label>
                    </div>
                    -->
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="ctrl.SignIn();">Sign In</button>
            </div>
            <!-- /.col -->
        </div>


        <div class="social-auth-links text-center" ng-show="ctrl.isUAT">
            <p>- OR -</p>
            <!--<a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
            Facebook</a>-->
            <a href="#" class="btn btn-block btn-social btn-yahoo btn-flat" ng-click="ctrl.isDev=!ctrl.isDev" ng-show="ctrl.isDev">                
                    &emsp;
                    <span class="glyphicon glyphicon-folder-open"></span>
                    &emsp;
                    Sign in using Active Directory
                
            </a>
            <a href="#" class="btn btn-block btn-social btn-foursquare btn-flat" ng-click="ctrl.isDev=!ctrl.isDev" ng-hide="ctrl.isDev">                
                    &emsp;
                    <span class="glyphicon glyphicon-tasks"></span>
                    &emsp;
                    Sign in using Pre-defined List             
            </a>
            <br/>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat" ng-click="ctrl.authenticate('google');" ng-show="ctrl.eMail=='emsmaav1'">                                   
                    <span class="ion-social-googleplus"></span>                   
                    Sign in with Google         
            </a>
        </div>
        <br/>

        <!-- /.social-auth-links 

        <a href="#">I forgot my password</a><br>
        <a href="register.html" class="text-center">Register a new membership</a>
        -->
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->