<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header"></li>

            <!-- SALES REPRESENTATIVE -->
            <li class="treeview">
                <a href="#Sales">
                    <i class="fa fa-folder"></i> <span>My Job Request<br/>(Sales Representative)</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Drafts</a></li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> In Progress
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Client</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Designer</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Type</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> Completed
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Client</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Designer</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Type</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!-- COORDINATOR -->
            <li class="treeview">
                <a href="#Coordinator">
                    <i class="fa fa-tasks"></i> <span>Job Request List<br/>(Coordinator)</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Drafts</a></li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> In Progress
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Client</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Designer</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Type</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> Completed
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Client</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Designer</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Type</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!-- DESIGNER -->
            <li class="treeview">
                <a href="#Designer">
                    <i class="fa fa-laptop"></i> <span>My Artwork Task<br/>(Designer)</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> In Progress
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Client</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Designer</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Type</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> Completed
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Client</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Designer</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> By Type</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!-- COPYWRITER -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>My Writing Task<br/>(Copywriter)</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> In Progress
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                        <ul class="treeview-menu">
                            <li><a href="#Copywriter"><i class="fa fa-circle-o"></i> By Client</a></li>
                            <li><a href="#Copywriter"><i class="fa fa-circle-o"></i> By Designer</a></li>
                            <li><a href="#Copywriter"><i class="fa fa-circle-o"></i> By Type</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> Completed
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                        <ul class="treeview-menu">
                            <li><a href="#Copywriter"><i class="fa fa-circle-o"></i> By Client</a></li>
                            <li><a href="#Copywriter"><i class="fa fa-circle-o"></i> By Designer</a></li>
                            <li><a href="#Copywriter"><i class="fa fa-circle-o"></i> By Type</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!--SETTINGS -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cog"></i> <span>Settings</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                    <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                    <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
                </ul>
            </li>

            <!--GRAPHS -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i> <span>Analytics</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                    <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                    <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                    <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                    <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                    <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>