<!-- form start -->
<form class="form-horizontal" ng-show="ctrl.isList">
    <div class="col-md-12" style="margin: 0; padding-bottom: 0">
        <div class="box box-solid box-classified">
            <div class="box-header">
                <h4>{{ctrl.formTitle}}</h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Publication :</label>
                        <div class="col-sm-6">
                            <select name="repeatSelect" id="repeatSelect" class="form-control input-sm select-att" ng-model="ctrl.product.pubID">
                            <option ng-repeat="option in ctrl.pubOptions" value="{{option.product_code}}">{{option.product_name}}</option>
                        </select>
                        </div>
                        <div class="col-sm-2">&nbsp;</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Publication Date :</label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input id="pubDate" type="text" class="form-control input-sm fld-att" datetime-picker="dd/MM/yyyy" datepicker-options="ctrl.dateTimePicker1.datepickerOptions"
                                    enable-time="false" ng-model="ctrl.product.pubDate" is-open="ctrl.dateTimePicker1.open" close-on-date-selection="true"
                                    readonly />
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-default fld-att"   
                                        ng-click="ctrl.openCalendar($event, 'dateTimePicker1')" 
                                        ng-disabled="ctrl.product.pubID == '' || ctrl.product.pubID==null">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                            </p>
                        </div>
                        <div class="col-sm-2">&nbsp;</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">ET Number :</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm fld-att" ng-model="ctrl.product.etNum" text-mask="ctrl.filter.etNum" ng-change="ctrl.clrField('etNum_tbd');"
                                ng-readonly="ctrl.isActive1">
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="etNum_tbd" id="etNum_tbd" ng-model="ctrl.product.etNum_tbd" ng-change="ctrl.clrField('etNum');"
                                ng-disabled="ctrl.isActive1">
                            <label for="etNum_tbd">&emsp;TBA</label>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label class="col-sm-4 control-label">ET Date :</label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input id="etDate" type="text" class="form-control input-sm fld-att" datetime-picker="dd/MM/yyyy" datepicker-options="ctrl.dateTimePicker2.datepickerOptions"
                                    enable-time="false" ng-model="ctrl.product.etDate" is-open="ctrl.dateTimePicker2.open" close-on-date-selection="true"
                                    readonly />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default fld-att"   
                                    ng-click="ctrl.openCalendar($event, 'dateTimePicker2')" 
                                    ng-disabled="ctrl.product.etNum=='' || ctrl.product.etNum==null">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                        <div class="col-sm-2">&nbsp;</div>
                    </div>
                    -->
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Cash Number :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm fld-att" ng-model="ctrl.product.cashNum" text-mask="ctrl.filter.cash" ng-change="ctrl.clrField('cashNum_tbd');"
                                ng-readonly="ctrl.isActive2">
                        </div>
                        <div class="col-sm-2" style="visibility:hidden">
                            <input type="checkbox" name="cashNum_tbd" id="cashNum_tbd" ng-model="ctrl.product.cashNum_tbd" ng-change="ctrl.clrField('cashNum');">
                            <label for="cashNum_tbd">&emsp;TBA</label>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Import Date :</label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input id="cashDate" type="text" class="form-control input-sm fld-att" datetime-picker="dd/MM/yyyy" datepicker-options="ctrl.dateTimePicker3.datepickerOptions"
                                    enable-time="false" ng-model="ctrl.product.cashDate" is-open="ctrl.dateTimePicker3.open"
                                    close-on-date-selection="true" readonly />
                                <span class="input-group-btn">
                                      <button type="button" class="btn btn-default fld-att"   
                                    ng-click="ctrl.openCalendar($event, 'dateTimePicker3')" 
                                    ng-disabled="ctrl.product.cashNum == '' || ctrl.product.cashNum==null">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </p>

                        </div>
                        <div class="col-sm-2">&nbsp;</div>
                    </div>
                    -->
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default" ng-click="ctrl.cancel()"><i class="fa fa-remove"></i> Close</button>
                <div class="pull-right">
                    <!--<button type="button" class="btn btn-default"><i class="fa fa-reply"></i> Request More Information </button>-->
                    <button type="button" class="btn btn-default" ng-click="ctrl.ok()"><i class="fa fa-share"></i> Add</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form class="form-horizontal" ng-hide="ctrl.isList">
    <div class="col-md-12" style="margin: 0; padding-bottom: 0">
        <div class="box box-solid box-classified">
            <div class="box-header">
                <h4>{{ctrl.formTitle}}</h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Final Ad Spend :</label>
                            <div class="input-group">
                                <span class="input-group-addon fld-att">$</span>
                                <input id='ad_spend' type="number" class="form-control input-sm fld-att" style="text-align:right;padding-right:10px;" ng-model="ctrl.final_ad_spend"
                                    min="0.01" step="0.01">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Final Production Cost :</label>
                            <div class="input-group">
                                <span class="input-group-addon fld-att">$</span>
                                <input id='production_cost' type="number" class="form-control input-sm fld-att" style="text-align:right;padding-right:10px;"
                                    ng-model="ctrl.final_cost" min="0.01" step="0.01">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">&nbsp;</div>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default" ng-click="ctrl.cancel()"><i class="fa fa-remove"></i> Close</button>
                <div class="pull-right">
                    <!--<button type="button" class="btn btn-default"><i class="fa fa-reply"></i> Request More Information </button>-->
                    <button type="button" class="btn btn-default" ng-click="ctrl.ok()"><i class="fa fa-share"></i> Add</button>
                </div>
            </div>
        </div>
    </div>
</form>